.media{
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 5px;
    margin: 5px 0;
    background-color: #282c34;
    border-radius: 10px;
    position: relative;
    font-family: "Montserrat", sans-serif ;
}

.media:hover {
    background-color: white;
    color: black;
    transition: ease-in-out 0.7s;
    
}

@media(max-width: 650px) {
    .media{
        width: 40%;
    }
}

.poster{
    border-radius: 10px;
}

.title {
    width: 100%;
    text-align: center;
    font-size: 17px;
    padding: 8px 0;
}

.subTitle{
    display: flex;
    justify-content: space-between;
    padding: 0 2px;
    padding-bottom: 3px;  
    font-weight: 600;
}